<h3>Sign-In</h3>

<form method="POST" action="/">
	<label for="username">Username:</label>
	<input type="text" name="username">
	<label for="password">Password:</label>
	<input type="password" name="password">
	<input type="submit">
</form>


<h2>Sign-Up</h2>
<form method="POST" action="/">
	<label for="firstname">First Name:</label>
	<input type="text" name="firstname">
	<label for="lastname">Last Name:</label>
	<input type="text" name="lastname">
	<label>Choose a Username:</label>
	<input type="text" name="username">
	<label for="password">Choose a Password:</label>
	<input type="password" name="password">
	<label for="email">Email:</label>
	<input type="text" name="email">
	<input type="submit">
</form>