<li><a href="/logout">Logout</a></li>

 <h2>Tell us about yourself for the day</h2>

<form action = "/post/:user_id/new" method = "POST">
	<textarea type = "text" placeholder = "Tell us how your day was" name = "body"></textarea>
	<input type = "submit">
</form>