<h3>Sign-In:</h3>

<form method="POST" action="/signin" class = "signin">
	<label for="username">Username</label>
	<input type="text" name="username" placeholder = "login">
	<label for="password" >Password</label>
	<input type="password" name="password"placeholder = "password">
	<input type="submit" name = "sign-in" value = "sign-in">
</form>