<h2>Sign-Up</h2>
<form method="POST" action="/signup">
	<label for="firstname">First Name:</label>
	<input type="text" name="first">
	<label for="lastname">Last Name:</label>
	<input type="text" name="last">
	<label>Choose a Username:</label>
	<input type="text" name="username">
	<label for="password">Choose a Password:</label>
	<input type="password" name="password">
	<label for="email">Email:</label>
	<input type="text" name="email">
	<input type="submit">
</form>