<h2>Sign-Up:</h2>
<form method="POST" action="/signup" class = "signup">
	<label for="firstname">First Name:</label>
	<input type="text" name="first" placeholder = "you're first name">
	<label for="lastname">Last Name:</label>
	<input type="text" name="last" placeholder = "you're last name">
	<label>Choose a Username:</label>
	<input type="text" name="username" placeholder = "username">
	<label for="password">Choose a Password:</label>
	<input type="password" name="password" placeholder = "password">
	<label for="email">Email:</label>
	<input type="text" name="email" placeholder = "email">
	<input type="submit">
</form>